{% extends 'layouts/base.html' %}

{% block title %} Dashboard {% endblock title %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

    <!-- Header -->
    <div class="header bg-primary pb-6">
      <div class="container-fluid">
        <div class="header-body">
          <div class="row align-items-center py-4">
            <div class="col-lg-6 col-7">
              <h6 class="h2 text-white d-inline-block mb-0">INFOWEB.COM</h6>
              <nav aria-label="breadcrumb" class="d-none d-md-inline-block ml-md-4">
                <ol class="breadcrumb breadcrumb-links breadcrumb-dark">
                  <li class="breadcrumb-item"><a href="#"><i class="fas fa-home"></i></a></li>
                  <li class="breadcrumb-item"><a href="#">Dashboards</a></li>
                  <li class="breadcrumb-item active" aria-current="page">Default</li>
                </ol>
              </nav>
            </div>
            <div class="col-lg-6 col-5 text-right">
              {% comment %} <a href="#" class="btn btn-sm btn-neutral">New</a>
              <a href="#" class="btn btn-sm btn-neutral">Filters</a> {% endcomment %}
            </div>
          </div>
          <!-- Card stats -->
          <div class="row">
            <div class="col-xl-3 col-md-6">
              <div class="card card-stats">
                <!-- Card body -->
                <div class="card-body">
                  <div class="row">
                    <div class="col">
                      <h5 class="card-title text-uppercase text-muted mb-0">Rastreo de Bot de Google</h5>
                      <span class="h4 font-weight-bold mb-0">{{rastreo}}</span>
                    </div>
                    <div class="col-auto">
                      <div class="icon icon-shape bg-gradient-red text-white rounded-circle shadow">
                        <i class="ni ni-active-40"></i>
                      </div>
                    </div>
                  </div>
                  <p class="mt-3 mb-0 text-sm">
                    <span class="text-success mr-2"><i class="fa fa-arrow-up"></i> elastic.analisis</span>
                    {% comment %} <span class="text-nowrap">Since last month</span> {% endcomment %}
                  </p>
                </div>
              </div>
            </div>
            <div class="col-xl-3 col-md-6">
              <div class="card card-stats">
                <!-- Card body -->
                <div class="card-body">
                  <div class="row">
                    <div class="col">
                      <h5 class="card-title text-uppercase text-muted mb-0">Cantidad de visitas</h5>
                      <span class="h2 font-weight-bold mb-0">{{total_visitas_mes_actual}}</span>
                    </div>
                    <div class="col-auto">
                      <div class="icon icon-shape bg-gradient-red text-white rounded-circle shadow">
                        <i class="ni ni-active-40"></i>
                      </div>
                    </div>
                  </div>
                  <p class="mt-3 mb-0 text-sm">
                    <span class="text-success mr-2"><i class="fa fa-arrow-up"></i> elastic.analisis</span>
                    {% comment %} <span class="text-nowrap">Since last month</span> {% endcomment %}
                  </p>
                </div>
              </div>
            </div>
            <div class="col-xl-3 col-md-6">
              <div class="card card-stats">
                <!-- Card body -->
                <div class="card-body">
                  <div class="row">
                    <div class="col">
                      <h5 class="card-title text-uppercase text-muted mb-0">desde Chile</h5>
                      <span class="h2 font-weight-bold mb-0">{{cantidad_visitas_desde_chile_mes_Actual}}</span>
                    </div>
                    <div class="col-auto">
                      <div class="icon icon-shape bg-gradient-orange text-white rounded-circle shadow">
                        <i class="ni ni-chart-pie-35"></i>
                      </div>
                    </div>
                  </div>
                  <p class="mt-3 mb-0 text-sm">
                    <span class="text-success mr-2"><i class="fa fa-arrow-up"></i> elastic.analisis</span>
                    {% comment %} <span class="text-nowrap">Since last month</span> {% endcomment %}
                  </p>
                </div>
              </div>
            </div>
            <div class="col-xl-3 col-md-6">
              <div class="card card-stats">
                <!-- Card body -->
                <div class="card-body">
                  <div class="row">
                    <div class="col">
                      <h5 class="card-title text-uppercase text-muted mb-0">desde extranjero</h5>
                      <span class="h2 font-weight-bold mb-0">{{cantidad_visitas_desde_extranjero_mes_actual}}</span>
                    </div>
                    <div class="col-auto">
                      <div class="icon icon-shape bg-gradient-green text-white rounded-circle shadow">
                        <i class="ni ni-money-coins"></i>
                      </div>
                    </div>
                  </div>
                  <p class="mt-3 mb-0 text-sm">
                    <span class="text-success mr-2"><i class="fa fa-arrow-up"></i> elastic.analisis</span>
                    {% comment %} <span class="text-nowrap">Since last month</span> {% endcomment %}
                  </p>
                </div>
              </div>
            </div>
            <div class="col-xl-3 col-md-6">
              <div class="card card-stats">
                <!-- Card body -->
                <div class="card-body">
                  <div class="row">
                    <div class="col">
                      <h5 class="card-title text-uppercase text-muted mb-0">top service provider</h5>
                      <span class="h2 font-weight-bold mb-0">{{principal_proveedor_chile_mes_actual}}</span>
                    </div>
                    <div class="col-auto">
                      <div class="icon icon-shape bg-gradient-info text-white rounded-circle shadow">
                        <i class="ni ni-chart-bar-32"></i>
                      </div>
                    </div>
                  </div>
                  <p class="mt-3 mb-0 text-sm">
                    <span class="text-success mr-2"><i class="fa fa-arrow-up"></i> elastic.analisis</span>
                    {% comment %} <span class="text-nowrap">Since last month</span> {% endcomment %}
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Page content -->
    <div class="container-fluid mt--6">
      <div class="row">
        {% comment %} <div class="col-xl-8">
          <div class="card bg-default">
            <div class="card-header bg-transparent">
              <div class="row align-items-center">
                <div class="col">
                  <h6 class="text-light text-uppercase ls-1 mb-1">Visitas en Chile</h6>
                  <h5 class="h3 text-white mb-0">Sales value</h5>
                </div>
                <div class="col">
                  <ul class="nav nav-pills justify-content-end">
                    <li class="nav-item mr-2 mr-md-0" data-toggle="chart" data-target="#chart-sales-dark" data-update='{"data":{"datasets":[{"data":[0, 20, 10, 30, 15, 40, 20, 60, 60]}]}}' data-prefix="$" data-suffix="k">
                      <a href="#" class="nav-link py-2 px-3 active" data-toggle="tab">
                        <span class="d-none d-md-block">Mensual</span>
                        <span class="d-md-none">M</span>
                      </a>
                    </li>
                    <li class="nav-item" data-toggle="chart" data-target="#chart-sales-dark" data-update='{"data":{"datasets":[{"data":[0, 20, 5, 25, 10, 30, 15, 40, 40]}]}}' data-prefix="$" data-suffix="k">
                      <a href="#" class="nav-link py-2 px-3" data-toggle="tab">
                        <span class="d-none d-md-block">Semanal</span>
                        <span class="d-md-none">W</span>
                      </a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="card-body">
              <!-- Chart -->
              <div class="chart">
                <!-- Chart wrapper -->
                <canvas id="chart-sales-dark" class="chart-canvas"></canvas>
              </div>
            </div>
          </div>
        </div>  {% endcomment %}
        {% comment %} <div class="col-xl-4">
          <div class="card">
            <div class="card-header bg-transparent">
              <div class="row align-items-center">
                <div class="col">
                  <h6 class="text-uppercase text-muted ls-1 mb-1">ISP</h6>
                  <h5 class="h3 mb-0">principales proveedores</h5>
                </div>
              </div>
            </div>
            <div class="card-body">
              <!-- Chart -->
              <div class="chart">
                <canvas id="chart-bars" class="chart-canvas"></canvas>
              </div>
            </div>
          </div> {% endcomment %}
        </div>
      </div>
      <div class="row">
        <div class="col-xl-8">
          <div class="card">
            <div class="card-header border-0">
              <div class="row align-items-center">
                <div class="col">
                  <h3 class="mb-0">Trafico Diario Hoy : {{fecha}} </h3>
                </div>
                <div class="col text-right">
                  <a href="#!" class="btn btn-sm btn-primary">Ver mas</a>
                </div>
              </div>
            </div>
            <div class="table-responsive">
              <!-- Projects table -->
              <table class="table align-items-center table-flush">
                <thead class="thead-light">
                  <tr>
                    <th scope="col">Hora</th>
                    <th scope="col">Visitantes</th>
                    {% comment %} <th scope="col">Unique users</th> {% endcomment %}
                    <th scope="col">Relacion Dia Anterior</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th scope="row">
                      09:00:00 GMT - 10:00:00 GMT
                    </th>
                    <td>
                      {{trafico_9_10}}
                    </td>
                    {% comment %} <td>
                      340
                    </td> {% endcomment %}
                    <td>
                      <i class="fas fa-arrow-up text-success mr-3"></i> 46,53%
                    </td>
                  </tr>
                  <tr>
                    <th scope="row">
                      10:00:01 GMT - 11:00:00 GMT
                    </th>
                    <td>
                      {{trafico_10_11}}
                    </td>
                    {% comment %} <td>
                      319
                    </td> {% endcomment %}
                    <td>
                      <i class="fas fa-arrow-down text-warning mr-3"></i> 46,53%
                    </td>
                  </tr>
                  <tr>
                    <th scope="row">
                      11:00:01 GMT - 12:00:00 GMT
                    </th>
                    <td>
                      {{trafico_11_12}}
                    </td>
                    {% comment %} <td>
                      294
                    </td> {% endcomment %}
                    <td>
                      <i class="fas fa-arrow-down text-warning mr-3"></i> 36,49%
                    </td>
                  </tr>
                  <tr>
                    <th scope="row">
                      12:00:01 GMT - 13:00:00 GMT
                    </th>
                    <td>
                      {{trafico_12_13}}
                    </td>
                    {% comment %} <td>
                      147
                    </td> {% endcomment %}
                    <td>
                      <i class="fas fa-arrow-up text-success mr-3"></i> 50,87%
                    </td>
                  </tr>
                  <tr>
                    <th scope="row">
                      13:00:01 GMT - 14:00:00 GMT
                    </th>
                    <td>
                      {{trafico_13_14}}
                    </td>
                    {% comment %} <td>
                      190
                    </td> {% endcomment %}
                    <td>
                      <i class="fas fa-arrow-down text-danger mr-3"></i> 46,53%
                    </td>
                  </tr>
                  <tr>
                    <th scope="row">
                      14:00:01 GMT - 15:00:00 GMT
                    </th>
                    <td>
                      {{trafico_14_15}}
                    </td>
                    {% comment %} <td>
                      190
                    </td> {% endcomment %}
                    <td>
                      <i class="fas fa-arrow-down text-danger mr-3"></i> 46,53%
                    </td>
                    <tr>
                      <th scope="row">
                        15:00:01 GMT - 16:00:00 GMT
                      </th>
                      <td>
                        {{trafico_15_16}}
                      </td>
                      {% comment %} <td>
                        190
                      </td> {% endcomment %}
                      <td>
                        <i class="fas fa-arrow-down text-danger mr-3"></i> 46,53%
                      </td>
                    </tr>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
        <div class="col-xl-4">
          <div class="card">
            <div class="card-header border-0">
              <div class="row align-items-center">
                <div class="col">
                  <h3 class="mb-0">Trafico por pais</h3>
                </div>
                <div class="col text-right">
                  <a href="#!" class="btn btn-sm btn-primary">ver todos</a>
                </div>
              </div>
            </div>
            <div class="table-responsive">
              <!-- Projects table -->
              <table class="table align-items-center table-flush">
                <thead class="thead-light">
                  <tr>
                    <th scope="col">Pais</th>
                    <th scope="col">Visitas</th>
                    <th scope="col"></th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th scope="row">
                      USA
                    </th>
                    <td>
                      {{visitas_usa}}
                    </td>
                    {% comment %} <td>
                      <div class="d-flex align-items-center">
                        <span class="mr-2">45%</span>
                        <div>
                          <div class="progress">
                            <div class="progress-bar bg-gradient-danger" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;"></div>
                          </div>
                        </div>
                      </div>
                    </td> {% endcomment %}
                  </tr>
                  <tr>
                    <th scope="row">
                      Canadá
                    </th>
                    <td>
                      {{visitas_canada}}
                    </td>
                    {% comment %} <td>
                      <div class="d-flex align-items-center">
                        <span class="mr-2">20%</span>
                        <div>
                          <div class="progress">
                            <div class="progress-bar bg-gradient-success" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width: 70%;"></div>
                          </div>
                        </div>
                      </div>
                    </td> {% endcomment %}
                  </tr>
                  <tr>
                    <th scope="row">
                      Brazil
                    </th>
                    <td>
                      {{visitas_brazil}}
                    </td>
                    {% comment %} <td>
                      <div class="d-flex align-items-center">
                        <span class="mr-2">10%</span>
                        <div>
                          <div class="progress">
                            <div class="progress-bar bg-gradient-primary" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 80%;"></div>
                          </div>
                        </div>
                      </div>
                    </td> {% endcomment %}
                  </tr>
                  <tr>
                    <th scope="row">
                      Alemania
                    </th>
                    <td>
                      {{visitas_alemania}}
                    </td>
                    {% comment %} <td>
                      <div class="d-flex align-items-center">
                        <span class="mr-2">20%</span>
                        <div>
                          <div class="progress">
                            <div class="progress-bar bg-gradient-info" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 75%;"></div>
                          </div>
                        </div>
                      </div>
                    </td> {% endcomment %}
                  </tr>
                  <tr>
                    <th scope="row">
                      España
                    </th>
                    <td>
                      {{visitas_españa}}
                    </td>
                    {% comment %} <td>
                      <div class="d-flex align-items-center">
                        <span class="mr-2">5%</span>
                        <div>
                          <div class="progress">
                            <div class="progress-bar bg-gradient-warning" role="progressbar" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100" style="width: 30%;"></div>
                          </div>
                        </div>
                      </div>
                    </td> {% endcomment %}
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>

      {% include "includes/footer.html" %}

    </div>

{% endblock content %}

<!-- Specific JS goes HERE --> 
{% block javascripts %}

  <script src="/static/assets/vendor/chart.js/dist/Chart.min.js"></script>
  <script src="/static/assets/vendor/chart.js/dist/Chart.extension.js"></script>
  {% comment %} <script src="apps/static/assets/js/components/charts/chart-bars.js"></script> {% endcomment %}

{% endblock javascripts %}
